.Homepage{
    width: 100%;
    height: 100vh;
}
.rickAndMortyLogo{
    width: 500px;
}
.textContainer{
    color: #f6f6f6;
}
.homePage_title{
    font-size: 32px;
    font-weight: 600;
}
.homePage_text{
    font-size: 16px;
    font-weight: 300;
}
.Homepage_content{
    width: 100%;
    height: 100%;
    display: flex;
}
.textContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homepage_imgCon{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}