.Character{
    width: 330px;
    height: 420px;
    background-color: #2f2f2f;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    color: #f6f6f6;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.Character img{
    width: 100%;
    margin-bottom: 12px;
    border-radius: 10px;
}
.characterName{
    font-size: 24px;
    font-weight: 700;
}
.characterSpecies{
    margin-top: 5px;
    font-weight: 400;
}
.Character:hover{
    background-color: #272727;
    transform: scale(1.05);
}
@media screen and (max-width: 320px) {
    .Character{
        height: 380px;
    }
}