.characterList{
    width: 100%;
}
.charactersCon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pagination{
    margin-bottom: 80px;
}
.modalTitle{
    font-size: 28px;
    font-weight: 700;
}
.modalImage{
    width: 220px;
    margin-top: 15px;
    border-radius: 7px;
}
.modal_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.modalText{
    width: 60%;
    padding: 15px;
}
.modalText p{
    margin-bottom: 10px;
}
.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.pagination button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #A5D7EF;
    margin: 0 15px;
}
.pagination button:hover{
    background-color: #68a6c3;
}
.filters{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.filters select{
    padding: 7px;
    font-size: 16px;
    background-color: #f6f6f6;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
}
.ReactModal__Content{
    position: static !important;
    inset: unset !important;
    width: 600px;
    height: 320px;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media (max-width: 320px) {
    .ReactModal__Overlay{
        padding-bottom: 50px;
    }
    .ReactModal__Content {
      width: 80%;
      height: auto; 
      padding: 10px;
    }
    .modal_content{
        flex-direction: column;
    }
    .modalTitle{
        font-size: 20px;
    }
    .modalImage{
        width: 100% !important;
    }
    .modalText{
        padding: 10px 0 0 0;
        width: 100%;
    }
}
@media (max-width: 376px) {
    .ReactModal__Overlay{
        padding-bottom: 50px;
    }
    .ReactModal__Content {
      width: 80%;
      height: auto; 
      padding: 10px;
    }
    .modal_content{
        flex-direction: column;
    }
    .modalTitle{
        font-size: 20px;
    }
    .modalImage{
        width: 80%;
    }
    .modalText{
        padding: 10px 0 0 0;
        width: 100%;
    }
}
@media (max-width: 426px) {
    .ReactModal__Overlay{
        padding-bottom: 50px;
    }
    .ReactModal__Content {
      width: 80%;
      height: auto; 
      padding: 10px;
    }
    .modal_content{
        flex-direction: column;
    }
    .modalTitle{
        font-size: 20px;
    }
    .modalImage{
        width: 80%;
    }
    .modalText{
        padding: 10px 0 0 0;
        width: 100%;
    }
}