*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
body{
    background-color: #000000;
    padding: 40px;
}
.screen{
    padding-bottom: 80px;
}
.screenTitle{
    color: #f6f6f6;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}